.portfolio {
    background-color: var(--bg-main-grey);
    padding: 80px 30px 75px;
    text-align: center;
    color: var(--bg-main-black);
}

.portfolio-title {
    font-size: 35px;
    font-weight: 700;
}

.portfolio-img {
    width: min(100%, 950px);
    height: min(100%, 630px);
    object-fit: contain;
    margin: 70px 0 0;
}

.portfolio-description {
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0 0;
}

@media (max-wigth: 310px) {
    .portfolio {
        padding: 40px 30px 50px;
    }
    .history-img {
        margin: 50px 30px 30px;
    }
    .history-description {
        font-size: 14px;
    }
}